.fundadoras {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.fundadora {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fundadoraimg1 {
    max-width: 400px;
    max-height: 600px;
    height: 400px;
    border: 6px double #E0B7B5;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #b48484;
    margin: 20px;
}

.fundadoraimg2 {
    max-width: 600px;
    max-height: 400px;
    border: 6px double #E0B7B5;
    box-shadow: 5px 5px 5px #b48484;
    margin: 20px;
}

.FundadoraFonte {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    cursor: default;
}
