
.checkout-container {
  background: #E0B7B5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10px;
  display: auto;
 position: absolute;
 margin-left: 250px;
}

.checkout-pagamento-container{
  background: #E0B7B5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 10px;
  display: auto;
  margin-left: 700px;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 1px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color:black;
}
.input-custumizado{
  display: auto;
 position: absolute;
 margin-left: 50px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #E0B7B5;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

footer{
  margin: 50px;
}

input[type="checkbox"] {
  accent-color: green;
  width: 20px;
  height: 20px;
}